<div class="jumbotron">
  <div class='container'>
    <div class='row'>

      <div class="col-sm-12 col-sm-offset-2">

        <carousel class='text-center' *ngIf="news">

          <slide *ngFor="let article of news.articles">
            <a href="{{article.url}}" target="_blank">

              <img class="img-carousel" src="{{article.urlToImage}}" alt="First slide" style="display: block; width: 100%;">
              <div class="carousel-caption">
                <h3 class='carousel-shadow'>{{article.title}}</h3>
                <p class='carousel-shadow'> {{article.description}}</p>
              </div>
            </a>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</div>