/* You can add global styles to this file, and also import other style files */
.img-carousel
{
    max-height: 500px;
    margin: 0 auto;
}
.carousel-control.right{
    cursor: pointer;
}
.carousel-control.left{
    cursor: pointer;    
}
.carousel-shadow{
    color: #fff;
    text-shadow: 0 0 5px rgb(90, 90, 90), 0 0 10px rgb(85, 85, 85), 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 55px #000, 0 0 75px #000;
    text-align: center;
}
.corner{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
}